.noticia {
    background: linear-gradient(220.55deg, #97E8B5 0%, #5CB67F 100%);
    border-radius: 3%;
    
}
summary{
    list-style: none;
}
.card-text{
    padding: 30px;
}

@media (max-width: 2560px) {
    .arrow {
        align-self: flex-end;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
    }

    .bounce:hover {
        animation-name: bounce;
        animation-timing-function: ease;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }
}

@media (max-width: 1199px) {
  
    @keyframes bounce {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(0);
        }
    }
}