.noticia {
     background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    border-radius: 3%;
    
}

.noticia img{
    width: 100%;
    height: 15em;
    object-fit: cover;
    object-position: center;
}

summary{
    list-style: none;
}
.card-text{
    padding: 30px;
}

@media (max-width: 2560px) {
    .arrow {
        align-self: flex-end;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
    }

    .bounce:hover {
        animation-name: bounce;
        animation-timing-function: ease;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }
}

@media (max-width: 1199px) {
  
    @keyframes bounce {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(0);
        }
    }
}