
<h2>{{title}}</h2>
<p>{{paragraph}}</p>

<!-- 



<section class="container-fluid noticias">
    <div class="row justify-content-around">
      <article class="card col-lg-3 mt-5 mb-5 border-0 noticia">
        <img class="card-img" src="../../../assets/stock2.jpeg" alt="Antena retransmitiendo" />
        <div class="card-body">
          <h6 class="card-title">Se busca vendedor de biblias</h6>
  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#new2">
            <span>+</span>
          </button>
          <div class="collapse navbar-collapse" id="new2">
            <div>
              <p class="card-text">
                Hombre roba una biblia mas conocida como el libro de arena, de la
                biblioteca. Esta era una biblia antigua muy especial ya que no se
                podia datar cuando fue impresa. Ademas esta biblia tiene la
                peculiaridad de ser infinita y de que no se repite ninguna hoja
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section> -->