.pru{
    background-color: #80a5d6;
    opacity: 0.9
}
.blu{
    background-color: #97E8B5;
    opacity: 0.9
}
summary{
    list-style: none;
}
.card-text{
    padding: 30px;
    
}

.separador {
    background-color: #e10000;
    width: 100%;
    height: 3px;
}

h1,p{
    text-align: center ;
    color: black;
    
}
.body{
  
    background-image: url("../../../assets/ruedagitana.svg");
    background-size: 60% auto;
    background-position: center 100%;
    background-repeat: no-repeat;
}
