.separador {
    background-color: #e10000;
    width: 100%;
    height: 3px;
}

h1,p{
    text-align: center ;
    color: black;
    
}
.body{
  
    background-image: url("../../../assets/ruedagitana.svg");
    background-size: 60% auto;
    background-position: center 30%;
    background-repeat: no-repeat;
}