{% extends 'layout.html.twig' %}

{% block content %}
	<section id="content">	
	<div class="container">
	 <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12">
		<article class="eventList">
	<a class="btn btn-primary" href="/twig/listUser/">⇦</a>
		<h2>Nuevo Usuario</h2>
			<form method="post" action="" class="row">
				<div class="row mt-3 mb-3">
					<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 mt-5 mb-5">
				<label for="email" class="form-label">Email del usuario</label>
					<input name="email" type="text" class="form-control" value=""/>
					</div>
					</div>


					<div class="row mt-3 mb-3">
					<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 mt-5 mb-5">
				<label for="name" class="form-label">Nombre del usuario </label>
					<input name="name" type="text" class="form-control" value=""/>
				</div>
				</div>

					<div class="row mt-3 mb-3">
					<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 mt-5 mb-5">
				<label for="surnames" class="form-label">Apellidos usuario</label>
					<input name="surnames" type="text" class="form-control" value=""/>
				</div>
				</div>

				<div class="row mt-5 mb-3">
					<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 mt-5 mb-5">
				<label for="roles" class="form-label">Rol del usuario</label>
					<select class="form-select" aria-label="Default select example" name="roles">
						<option value='["USER"]' selected>Abre este menú para elegir un rol</option>
						<option value='["USER"]'>Usuario</option>
						<option value='["ADMIN"]'>Administrador</option>
					</select>
				</div>
				</div>

					<div class="row mt-3 mb-3">
					<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 mt-5 mb-5">
				<label for="phone" class="form-label">Telefono del usuario</label>
					<input name="phone" type="text" class="form-control" value=""/>
				</div>
				</div>

					<div class="row mt-3 mb-3">
					<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 mt-5 mb-5">
				<label for="password" class="form-label">Contraseña del usuario</label>
					<input name="password" type="password" class="form-control" value=""/>
				</div>
				</div>

					<div class="row mt-3 mb-3">
					<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 mt-5 mb-5">
					<input type="submit" class="btn btn-primary mb-3 col-lg-3" name="submit" value="Crear usuario"/>
				</div>
				</div>
		</form>
	</article>	
	</div>
	</div>
	</section>
{% endblock %}
