{% extends 'layout.html.twig' %}

{% block content %}
	<section id="content">	
	<div class="container">
		<div id="form_container">
			<form method="post" action="">
				<div>
					<h2>Nuevo Usuario</h2>
				</div>
				<label for="id">Id Usuario</label>
				<div>
					<input name="id" type="number" size="5" value=""/>
				</div>

				<label for="email">Email Usuario</label>
				<div>
					<input name="email" type="text" maxlength="45" size="45" value=""/>
				</div>

				<label for="roles">Roles Usuario</label>
				<div>
					<input name="roles" type="text" maxlength="40" size="40" value=""/>
				</div>

				<label for="files">Archivos Usuario</label>
				<div>
					<input name="files" type="text" maxlength="30" size="30" value=""/>
				</div>

				<label for="events">Eventos Usuario </label>
				<div>
					<input name="events" type="text" maxlength="2" size="2" value=""/>
				</div>

				<label for="phone">Telefono Usuario</label>
				<div>
					<input name="phone" type="text" maxlength="9" size="9" value=""/>
				</div>

				<label for="name">Nombre Usuario : </label>
				<div>
					<input name="name" type="text"  value=""/>
				</div>

				<label for="surnames">Apellidos Usuario :</label>
				<div>
					<input name="surnames" type="text"  size="9" value=""/>
				</div>

				<input type="submit" name="submit" value="Insert"/>
		</form>
	</div>	
	</section>
{% endblock %}
