h2 {
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#input {
    border: 1px solid #9de280c2;
}

#input:focus {
    border-color: #9de280;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #9de2809d;
}

#formbutton {
    width: 20%;
    border-radius: 0.8em;
    border: 1px solid #80a5d6;
    background-color: #80a5d6;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

#formbutton:hover {
    background-color: white;
    color: #80a5d6;
}

.vertical {
    border-left: 5px solid #9de280;
    border-bottom: 5px solid #9de280;
    border-radius: 2%;
    padding: 5em;
    background-color: #9de28093;
}