{% extends 'layout.html.twig' %}
    {% block content %}
	<section id="content">
    <div class="container">
	<h1 class="text-uppercase">Adminisratrador de productos </h1>

			{% for task in data %}	
			<article class="eventList">
							<a href="/twig/DetailProducts/{{task["idProduct"]}}" class="text-muted me-3">{{ task["nameProduct"] }}</a>
 							 <a href="/twig/deleteProducts{{task["idProduct"] }}" class="btn btn-danger"> [x] </a>  
							<a href='/twig/updateProducts/{{task["idProduct"] }} ' class="btn btn-warning">[U]</a>  
			{% endfor %}
			</article>
			<br>
    </div>
	</section>
{% endblock %}