{% extends 'layout.html.twig' %}
    {% block content %}
    <section id="content">
	<div class="container">
		
	<h1>Listado de categorias</h1>
            <article class="eventList">
			
			{% for task in data %}
					<article class="eventList">
							<a class="text-muted text-decoration-none"  href="/twig/listProducts/{{task["idCategoria"]}} ">{{task["nameCategoria"] }}</a>
 							 <a href="/twig/deleteCategories/{{task["idCategoria"]}}" class="btn btn-danger"> [x] </a>
							<a href='/twig/updateCategories/{{task["idCategoria"]}} ' class="btn btn-warning">[U]</a>  
				
					</article>
					<br>
			
			{% endfor %}
			</article>
    </div>
	</section>
{% endblock %}