{% extends 'layout.html.twig' %}

{% block content %}
<section>
	<div id="content">
		<div id="form_container">
			<form>
					<h2>Edit Client {{data.getNameProduct()}}</h2>
				</div>
				<label for="idProduct">Id Producto</label>
				<div>
					<input name="idProduct" type="number" size="5" value="{{data.getIdProduct()}}"/>
				</div>

				<label for="nameProduct">Nombre del producto</label>
				<div>
					<input name="nameProduct" type="text" maxlength="45" size="45" value="{{data.getNameProduct()}}"/>
				</div>

				<label for="price">Precio del producto</label>
				<div>
					<input name="price" type="text" maxlength="40" size="40" value="{{data.getPrice()}}"/>
				</div>


				<input type="submit" name="submit" value="Update"/>
		</form>
	</div>
</section>
{% endblock %}