{% extends 'layout.html.twig' %}
    {% block content %}
    <section id="content">
	<div class="container">
		
	<h1>Listado de categorias</h1>
	<a href="/" class="btn btn-warning">Volver</a>
	<a href="/twig/insertCategories" class="btn btn-primary ">new</a>
            <article class="eventList">
			
			{% for task in data %}
					<article class="eventList">
							<a class="text-muted text-decoration-none">{{task["nameCategoria"] }}</a>
							<a class="btn btn-primary"  href="/twig/listProducts/{{task["idCategoria"]}} ">Detalles</a>
 							 <a href="/twig/deleteCategories/{{task["idCategoria"]}}" class="btn btn-danger"> Borrar </a>
							<a href='/twig/updateCategories/{{task["idCategoria"]}} ' class="btn btn-warning">Actualizar</a>  
					</article>
					<br>
			{% endfor %}
			</article>
    </div>
	</section>
{% endblock %}