{% extends 'layout.html.twig' %}

{% block content %}
<section id="content">
	<div class="container">
		
			<form method="post" action="" class="bg-light">
				<div>
					<h2>Nuevo Producto</h2>
				</div>
				<article class="eventList">
					
					<label for="nameProduct" class="text-center form-label">Nombre del producto</label>
					<div  class="mb-3 col-lg-8">
						<input name="nameProduct" type="text" maxlength="45" size="45" value="" class="form-control"/>
					</div>
					
						<label for="price" class="form-label">Precio del producto</label>
					<div>
						<input name="price" type="text" maxlength="40" size="40" value="" class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12"/>
					</div>
			 	
				<div>
						<input type="submit" name="submit" class="btn btn-primary submit"  value="Insert"/>		
				</div>
				
				
		</form>
		</article>
	</div>
</section>
{% endblock %}
