{% extends 'layout.html.twig' %}
    {% block content %}
    <div class="container">
	<h1 class="text-uppercase">adminisratrador de productos</h1>
                <div >
                 {# Cálculo de valores para la paginación #}
			{# List de resultados paginado #}
			{% for task in data %}
					<article class="eventList">			
							<a href="/twig/DetailProducts/{{task["idProduct"]}}" class="text-muted me-3">{{ task["nameProduct"] }}</a>
 							{# <a href="{{ path('app_deleteCategoria', {usuario:task["idCategoria"]}) }}" class="btn btn-danger"> [x] </a>  
							<a href=' {{ path('app_updateCategoria',{usuario:task["idCategoria"]}) }} ' class="btn btn-warning">[U]</a>  #}
					</article>
					<br>
			{% endfor %}
		
      </div>
    </div>
{% endblock %}