{% extends 'layout.html.twig' %}
    {% block content %}
    <div class="container">
	<div class="row">
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12">
		<article class="eventList">
	<h1 class="text-uppercase">Adminisratrador de productos</h1>

			{% for task in data %}	
							<a href="/twig/DetailProducts/{{task["idProduct"]}}" class="text-muted me-3">{{ task["nameProduct"] }}</a>
 							 <a href="/twig/DeleteCategories/{{task["idCategoria"] }}" class="btn btn-danger"> [x] </a>  
							<a href='/twig/UpdateCategories/{{task["idCategoria"] }} ' class="btn btn-warning">[U]</a>  
			{% endfor %}
			</article>
			<br>
	</div>	
    </div>
    </div>
{% endblock %}