<section class="container">
    <div class="signin-container mb-5 mt-5 col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12">
        <form action="" class="form-signin">
            <div class="container">
                <div class="row">
                    <ul class="signin-nav">
                        <li class="signin-nav__item">
                            <a [routerLink]="['/login']" class="text-uppercase">Iniciar sesión</a>
                        </li>
                        <li class="signin-nav__item active">
                            <a [routerLink]="['/signin']" class="text-uppercase">Crear cuenta</a>
                        </li>
                    </ul>
                </div>
                <div class="row justify-content-around">
                    <div class="col-xl-11 col-lg-11 col-md-12 col-sm-12 col-12">
                        <label for="email" class="signin__label">
                            Email
                        </label>
                        <input class="signin__input" type="email" name="email" />
                    </div>

                    <div class="row justify-content-around mt-2">

                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                            <div class="mb-3">
                                <label for="nombre" class="signin__label">Nombre:</label>
                                <input type="text" class="signin__input" id="input" name="nombre">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="mb-3">
                                <label for="apellidos" class="signin__label">Apellidos:</label>
                                <input type="text" class="signin__input" id="input" name="apellidos">
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-around">
                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                            <label for="password" class="signin__label">
                                Contraseña
                            </label>
                            <input ID="txtPassword" type="Password" Class="signin__input">

                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                            <div class="input-group-append" style="margin-top: 2.4em;">
                                <button id="show_password" class="btn btn-primary" type="button"
                                    onclick="mostrarPassword('txtPassword')"> <span class="fa fa-eye-slash icon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around mt-2">
                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                            <label for="password" class="signin__label">
                                Confirmar Contraseña
                            </label>
                            <input ID="txtPasswordConfirm" type="Password" Class="signin__input">

                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                            <div class="input-group-append" style="margin-top: 2.4em;">
                                <button id="show_password" class="btn btn-primary" type="button"
                                    onclick="mostrarPassword('txtPasswordConfirm')"> <span class="fa fa-eye-slash icon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <label for="signin-sign-up" class="signin__label--checkbox">
                        <input id="signin-sign-up" type="checkbox" class="signin__input--checkbox" />
                        Recuerdame
                    </label>
                    <button class="signin__submit" disabled>Sign in</button>

                </div>
            </div>
        </form>
    </div>
</section>