body {
	background-color: #636fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 1px;
}

* {
	box-sizing: border-box;
	transition: .25s all ease;
}

.signin-container {
	display: block;
	position: relative;
	z-index: 0;
	margin: 4rem auto 0;
  	padding: 5rem 4rem 0 4rem;
	background-image: url("./../../../assets/carro gitano.jpeg");
	box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);
}

.signin-container:after {
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: radial-gradient(ellipse at left bottom, rgb(81, 90, 171) 0%,rgba(38, 79, 106, 0.9) 59%, rgba(17, 27, 75, .9) 100%);
	box-shadow: 0 -20px 150px -20px rgba(0, 0, 0, 0.5);
}

.form-signin {
	position: relative;
	z-index: 1;
  padding-bottom: 4.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.signin-nav {
	position: relative;
	padding: 0;
	margin: 0 0 6em 1rem;
}

.signin-nav__item {
	list-style: none;
	display: inline-block;
}

.signin-nav__item + .signin-nav__item {
	margin-left: 2.25rem;
}

.signin-nav__item a {
	position: relative;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	font-weight: 500;
	font-size: 1.25rem;
	padding-bottom: .5rem;
	transition: .20s all ease;
}

.signin-nav__item.active a,
.signin-nav__item a:hover{
	color: #ffffff;
	transition: .15s all ease;
}

.signin-nav__item a:after {
	content: '';
  display: inline-block;
  height: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 100%;
  bottom: -1px;
  left: 0;
  border-radius: 50%;
  transition: .15s all ease;
}

.signin-nav__item a:hover:after,
.signin-nav__item.active a:after{
	background-color: rgb(17, 97, 237);
	height: 2px;
	right: 0;
	bottom: 2px;
	border-radius: 0;
	transition: .20s all ease;
}
.signin__label {
	display: block;
	padding-left: 1rem;
}

.signin__label,
.signin__label--checkbox {
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-size: .75rem;
	margin-bottom: 1rem;
}

.signin__label--checkbox {
	display: inline-block;
	position: relative;
	padding-left: 1.5rem;
	margin-top: 2rem;
	margin-left: 1rem;
	color: #ffffff;
	font-size: .75rem;
	text-transform: inherit;
}

.signin__input {
	color: white;
	font-size: 1.15rem;
	padding: .5rem 1rem;
	border: 2px solid transparent;
	width: 100%;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.25);
	letter-spacing: 1px;
}

.signin__input:hover,
.signin__input:focus{
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
}

.signin__input + .signin__label {
	margin-top: 1.5rem;
}

.signin__input--checkbox {
	position: absolute;
	top: .1rem;
	left: 0;
	margin: 0;
}

.signin__submit {
	color: #ffffff;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 1rem;
	padding: .75rem;
	border-radius: 2rem;
	display: block;
	background-color: rgba(237, 17, 17, 0.75);
	border: none;
	cursor: pointer;
}

.signin__submit:hover {
	background-color:rgba(237, 17, 17, 0.75);
}

.signin__forgot {
	display: block;
	margin-top: 3rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.75);
	font-size: .75rem;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

.signin__forgot:hover {
	color: rgba(237, 17, 17, 0.75);
}