
    <section class="container">
        <div class="signin-container mb-5 mt-5 col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12">
            <form action="" class="form-signin">
                <ul class="signin-nav">
                    <li class="signin-nav__item active">
                        <a href="#" class="text-uppercase">Iniciar sesión</a>
                    </li>
                    <li class="signin-nav__item">
                        <a href="#" class="text-uppercase">Crear cuenta</a>
                    </li>
                </ul>
                <label for="signin-input-user" class="signin__label">
                    Iniciar sesión
                </label>
                <input id="signin-input-user" class="signin__input" type="text" />
                <label for="signin-input-user" class="signin__label">
                    Usuario
                </label>
                <input id="signin-input-user" class="signin__input" type="text" />
                <label for="signin-input-password" class="signin__label">
                    Contraseña
                </label>
                <input id="signin-input-password" class="signin__input" type="password" />
                <label for="signin-input-password" class="signin__label">
                    Contraseña
                </label>
                <input id="signin-input-password" class="signin__input" type="password" />
                <label for="signin-sign-up" class="signin__label--checkbox">
                    <input id="signin-sign-up" type="checkbox" class="signin__input--checkbox" />
                    Recuerdame
                </label>
                <button class="signin__submit" disabled>Sign in</button>
            </form>
        </div>
    </section>