<div id="overflow">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h1 class="text-uppercase">¡NUESTROS EVENTOS!</h1>
    </div>
  </div>

  <div class="container">

    <div class="row mb-5">
      <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mt-5 justify-content-start row" style="display: flex;">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" *ngFor="let content of contents; let i = index">
          <app-event [foto]="content.foto" [titulo]="content.titulo" [descripcion]="content.descripcion"
            [lugar]="content.lugar" [horario]="content.horario" [id]="content.id">
          </app-event>
        </div>
      </div>
    </div>
  </div>
</div>