header{
    height: 26em;
}

header::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 70% ;
    background: url("../../../assets/hoguera.jpeg");
    background-size: cover;
    background-position: bottom;
    filter: blur(2px);
    z-index: -10;
}

.logo{
    width: 40%;
    margin-top: 7%;
}

h2{
    margin-top: -2%;
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: rgb(218, 218, 218) !important;
    color: black;
    border-radius: 20px;
}