<header class="jumbotron jumbotron-fluid mb-5">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container-fluid">
                <a href=""></a>
                <button class="navbar-toggler button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="nav nav-pills navbar-nav">
                        <div *ngIf="home==1">
                            <li class="nav-item ms-3 mb-3 mt-3">
                                <a class="nav-link active" (click)="onHome()" [routerLink]="['home']">Home</a>
                            </li>
                        </div>
                        <div *ngIf="home==2">
                            <li class="nav-item ms-3 mb-3 mt-3">
                                <a class="nav-link active" [ngStyle]="{'color':'#e10000'}"
                                    [routerLink]="['home']">Home</a>
                            </li>
                        </div>
                        <div *ngIf="quienessomos==1">
                            <li class="nav-item ms-3 mb-3 mt-3">
                                <a class="nav-link active" (click)="onQuienessomos()"
                                    [routerLink]="['quienessomos']">Quienes somos </a>
                            </li>
                        </div>
                        <div *ngIf="quienessomos==2">
                            <li class="nav-item ms-3 mb-3 mt-3">
                                <a class="nav-link active" [ngStyle]="{'color':'#e10000'}"
                                    [routerLink]="['quienessomos']">Quienes somos</a>
                            </li>
                        </div>

                        <!--     MEJORA A IMPLEMENTAR EN EL FUTURO                    
                        <div *ngIf="contacto==1">
                            <li class="nav-item ms-3 mb-3 mt-3">
                                <a class="nav-link active" (click)="onContacto()"
                                    [routerLink]="['contacto']">Contacto</a>
                            </li>
                        </div>
                        <div *ngIf="contacto==2">
                            <li class="nav-item ms-3 mb-3 mt-3">
                                <a class="nav-link active" [routerLink]="['contacto']" [ngStyle]="{'color':'#e10000'}">Contacto</a>
                            </li>
                        </div> -->
                        <div *ngIf="eventos==1">
                            <li class="nav-item ms-3 mb-3 mt-3">
                                <a class="nav-link active" (click)="onEventos()" [routerLink]="['eventos'] ">Eventos</a>
                            </li>
                        </div>
                        <div *ngIf="eventos==2">
                            <li class="nav-item ms-3 mb-3 mt-3">
                                <a class="nav-link active" [routerLink]="['eventos']"
                                    [ngStyle]="{'color':'#e10000'}">Eventos</a>
                            </li>
                        </div>
                        <div *ngIf="perfil==1">
                            <li class="nav-item  ms-3 mb-3 mt-3">
                                <a class="nav-link active" (click)="onPerfil()" [routerLink]="['login']">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <title>{{ userName }}</title>
                                        <path
                                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    </svg>
                                </a>
                            </li>
                        </div>

                        <div *ngIf="perfil==2">
                            <li class="nav-item  ms-3 mb-3 mt-3">
                                <a class="nav-link active" [ngStyle]="{'color':'#e10000'}" [routerLink]="['login']">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <title>{{ userName }}</title>
                                        <path
                                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    </svg>
                                </a>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
        </nav>

        <img src="../../../assets/Opre Jireh logo.svg" alt="Logo de la asociación Opre Jireh" class="img-fluid logo">
        <h2 class="text-white fs-1 ms-lg-5 mt-3">Asociación Gitana de Catarroja</h2>
    </div>















    <nav class="navbar fixed-bottom">
        <div class="container-fluid">
            <a href=""></a>
            <button class="navbar-toggler button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavbar1">
                
              
                <svg height="110px" width="110px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-51.2 -51.2 614.40 614.40"
                xml:space="preserve" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0">
                    <rect x="-51.2" y="-51.2" width="614.40" height="614.40" rx="307.2" fill="#6382ab"
                        strokewidth="0"></rect>
                </g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <style type="text/css">
                        .st0 {
                            fill: #000000;
                        }
                    </style>
                    <g>
                        <path class="st0"
                            d="M307.098,96.621c26.249-6.7,42.088-33.437,35.372-59.702c-6.701-26.249-33.43-42.089-59.694-35.38 c-26.257,6.716-42.081,33.438-35.372,59.695C254.112,87.498,280.841,103.33,307.098,96.621z">
                        </path>
                        <path class="st0"
                            d="M352.528,222.955l-4.028,42.263c6.595,4.303,12.756,9.222,18.322,14.774 c20.492,20.522,33.11,48.668,33.118,79.95c-0.008,31.283-12.626,59.428-33.118,79.95c-20.522,20.493-48.668,33.102-79.95,33.118 c-31.282-0.016-59.428-12.625-79.95-33.118c-14.56-14.583-25.031-33.05-29.943-53.716l-22.182,48.919 c26.173,45.896,75.458,76.889,132.076,76.904c83.986-0.016,152.042-68.071,152.058-152.058 C438.922,299.509,403.588,247.483,352.528,222.955z">
                        </path>
                        <path class="st0"
                            d="M253.654,350.667c42.965-0.472,63.274-18.512,67.683-60.075l12.459-130.514 c2.01-22.007-11.256-41.319-33.278-43.329c-14.111-1.294-29.242,5.848-38.128,15.222l-61.294,60.319l-64.126,5.392 c-10.311,0.868-18.231,9.48-18.231,19.822v1.196c0,10.981,8.91,19.89,19.891,19.89h75.633l34.397-25.389l-5.749,63.647 l-83.781,6.114c-24.315,0.96-35.037,10.707-44.19,32.547L75.402,424.137c-5.986,13.312-0.046,28.983,13.281,34.969 c13.341,5.993,28.998,0.046,34.975-13.274l44.564-95.166H253.654z">
                        </path>
                    </g>
                </g>
            </svg>
            </button>
            <div class="collapse navbar-collapse " id="collapsibleNavbar1">
                <ul class="nav nav-pills navbar-nav">
                    <div *ngIf="Dixleoff==2">
                        <li class="nav-item">
                            <a class="nav-link active" (click)="onDixleon()">Dislexia off</a>
                        </li>
                    </div>
                    <div *ngIf="Dixleon==2">
                        <li class="nav-item ">
                            <a class="nav-link active" [ngStyle]="{'color':'#e10000'}"
                            (click)="onDixleoff()">Dislexia on</a>
                        </li>
                    </div>
                  

                

                </ul>
            </div>
        </div>
    </nav>

  <!--   <div class="container-fluid">
        <nav class="navbar navbar-expand-md fixed-bottom justify-content-end">
            <div class="acesibility">

               
              
                    <svg height="110px" width="110px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-51.2 -51.2 614.40 614.40"
                        xml:space="preserve" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0">
                            <rect x="-51.2" y="-51.2" width="614.40" height="614.40" rx="307.2" fill="#6382ab"
                                strokewidth="0"></rect>
                        </g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <style type="text/css">
                                .st0 {
                                    fill: #000000;
                                }
                            </style>
                            <g>
                                <path class="st0"
                                    d="M307.098,96.621c26.249-6.7,42.088-33.437,35.372-59.702c-6.701-26.249-33.43-42.089-59.694-35.38 c-26.257,6.716-42.081,33.438-35.372,59.695C254.112,87.498,280.841,103.33,307.098,96.621z">
                                </path>
                                <path class="st0"
                                    d="M352.528,222.955l-4.028,42.263c6.595,4.303,12.756,9.222,18.322,14.774 c20.492,20.522,33.11,48.668,33.118,79.95c-0.008,31.283-12.626,59.428-33.118,79.95c-20.522,20.493-48.668,33.102-79.95,33.118 c-31.282-0.016-59.428-12.625-79.95-33.118c-14.56-14.583-25.031-33.05-29.943-53.716l-22.182,48.919 c26.173,45.896,75.458,76.889,132.076,76.904c83.986-0.016,152.042-68.071,152.058-152.058 C438.922,299.509,403.588,247.483,352.528,222.955z">
                                </path>
                                <path class="st0"
                                    d="M253.654,350.667c42.965-0.472,63.274-18.512,67.683-60.075l12.459-130.514 c2.01-22.007-11.256-41.319-33.278-43.329c-14.111-1.294-29.242,5.848-38.128,15.222l-61.294,60.319l-64.126,5.392 c-10.311,0.868-18.231,9.48-18.231,19.822v1.196c0,10.981,8.91,19.89,19.891,19.89h75.633l34.397-25.389l-5.749,63.647 l-83.781,6.114c-24.315,0.96-35.037,10.707-44.19,32.547L75.402,424.137c-5.986,13.312-0.046,28.983,13.281,34.969 c13.341,5.993,28.998,0.046,34.975-13.274l44.564-95.166H253.654z">
                                </path>
                            </g>
                        </g>
                    </svg>
                
            </div>
        </nav>
    </div>
   -->



</header>