

<div class="container-fluid my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #80a5d6"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h3 class="text-uppercase mb-4 font-weight-bold" >
                OPRE JIREH
              </h3>
              <p>Avinguda la Rambleta, 
                45, 46470 Catarroja, València</p>
              <p>
                Contacta con nosotros
              </p><p>
                OpreJireh@gmail.com
              </p>
              <p>
                687336111
                
              </p>

            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
           
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
   <!-- Grid column -->
   <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
    <h3 class="text-uppercase mb-4 font-weight-bold">Follow us</h3>

    <!-- youtube -->
    <a
       class="btn btn-primary btn-floating m-1"
       style="background-color: #3b5998"
       href="#!"
       role="button"
       ><i class="fab fa-facebook-f"></i
      ></a>
<!-- Poner los iconos con texto alternatiov -->
    <!-- Twitter -->
    <a
       class="btn btn-primary btn-floating m-1"
       style="background-color: #55acee"
       href="#!"
       role="button"
       ><i class="fab fa-twitter"></i
      ></a>

    <!-- Instagram -->
    <a
       class="btn btn-primary btn-floating m-1"
       style="background-color: #ac2bac"
       href="#!"
       role="button"
       ><i class="fab fa-instagram"></i
      ></a>

  
  </div>
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3082.8257308975876!2d-0.40949428440373314!3d39.405448524441134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41bddc411d2a88e6!2zMznCsDI0JzE5LjYiTiAwwrAyNCcyNi4zIlc!5e0!3m2!1ses!2ses!4v1671179851815!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- Grid column -->
  
           
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
  
     
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->

