
    <section class="container" style="margin-top: 5em;">
        <div class="login-container mb-5 mt-5 col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12">
            <form action="" class="form-login">
                <ul class="login-nav">
                    <li class="login-nav__item active">
                        <a href="#" class="text-uppercase">Iniciar Sesion</a>
                    </li>
                    <li class="login-nav__item">
                        <a href="#" class="text-uppercase">Crear Cuenta</a>
                    </li>
                </ul>
                <label for="login-input-user" class="login__label">
                    Nombre
                </label>
                <input id="login-input-user" class="login__input" type="text" />
                <label for="login-input-password" class="login__label">
                    Contraseña
                </label>
                <input id="login-input-password" class="login__input" type="password" />
                <label for="login-sign-up" class="login__label--checkbox">
                    <input id="login-sign-up" type="checkbox" class="login__input--checkbox" />
                    Recuerdame
                </label>
                <button class="login__submit" disabled>Sign in</button>
            </form>
        </div>
    </section>
