<div class="container background-form" >
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-8">
            <form action="" method="post" class="form-signIn">
                <ul class="login-nav">
                    <li >
                        <a href="#">Sign In</a>
                    </li>
                    <li >
                        <a href="#">Sign Up</a>
                    </li>
                </ul>
                <div class="form-group">
                    <label for="exampleInputEmail1">CORREO ELECTRÓNICO</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">CONTRASEÑA</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label label-small">RECUERDAME</label>
                  </div>
                  <button type="submit" class="btn btn-primary submit-form">INICIAR SESIÓN</button>
            </form>
        </div>
    </div>
</div>