<section class="container">
    <div class="login-container mb-5 mt-5 col-xl-7 col-lg-7 col-md-10 col-sm-12 col-12">
        <form action=""  (ngSubmit)=
        "onSubmit()" class="form-login">
            <div class="container">
                <div class="row">
                    <ul class="login-nav">
                            <li class="login-nav__item active mt-2">
                                <a [routerLink]="['/login']" class="text-uppercase">Iniciar sesión</a>
                            </li>
                            <li class="login-nav__item mt-2">
                                <a [routerLink]="['/signin']" class="text-uppercase">Crear cuenta</a>
                            </li>
                    </ul>
                </div>
                <div class="row justify-content-around mt-2">
                    <div class="col-xl-8 col-lg-8 col-md-11 col-sm-12">
                        <div class="mb-3">
                            <label for="email" class="login__label">Email:</label>
                            <input type="email" class="login__input" id="input" name="email" [(ngModel)]="email">
                        </div>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-xl-8 col-lg-8 col-md-11 col-sm-11 col-10">
                        <label for="password" class="login__label">
                            Contraseña
                        </label>
                        <input [(ngModel)]="password" ID="txtPassword" type="Password" Class="login__input" name="password">

                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                        <div class="input-group-append" style="margin-top: 2.4em;">
                            <button id="show_password" class="btn btn-primary" type="button"
                                onclick="mostrarPassword('txtPassword')"> <span class="fa fa-eye-slash icon"></span>
                            </button>
                        </div>
                    </div>

                </div>
                <button type="submit" class="login__submit mt-5">Log in</button>
            </div>
        </form>
    </div>
</section>