.separador{
    background-color:  #e10000;
    width: 100%;
    height: 3px;
}

.rueda{
    width: 400px;
}

.card-img-top{
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.noticia{
    background: linear-gradient(220.55deg, #97E8B5 0%, #5CB67F 100%);
    padding: 0;
}
.ruedaCorta{
position: absolute;
width: 15.6%;

/* 1496 tamaño de pantalla para romper 
962*/



}