<section class="container-fluid">
  <div class="row ">
    <div class="col-6 justify-content-center mt-5 ">
      <article class="mt-5 mb-5">
        <h1 class="fs-1">Asociación Gitana de Catarroja</h1>
        <div class="separador"></div>
        <p class="fs-3 mt-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur neque
          quis rerum quasi beatae praesentium dignissimos dicta sapiente alias
          labore tempora, mollitia, nihil et optio eveniet at qui suscipit
          consequuntur!
        </p>
      </article>
    </div>

    <div class="col-4 mt-5  ">
      <article class="mt-5 mb-5">
        <h1 class="fs-1">Quiero formar parte</h1>
        <div class="separador"></div>
        <p class="fs-3 mt-3">
          Si quieres formar parte de la Asociación gitana de catarroja Opre
          Jireh haz click en este enlace y rellena el formulario.
        </p>
      </article>
    </div>
   
    <div class="col-1 ">
      <img
        class="ruedaCorta"
        src="../../../assets/ruedaGitanaCortada.svg"
        alt="rueda gitana de decoración."
      />
    </div>
  </div>
 
</section>

<section class="container-fluid row justify-content-around noticias">
  <article class="card col-lg-3 mt-5 mb-5 border-0 noticia">
    <img class="card-img-top" src="../../../assets/stock1.jpeg" alt="" />
    <h2 class="card-title p-2">Título de la noticia</h2>
    <p class="card-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius soluta quia
      vitae nostrum impedit perferendis repudiandae ipsa illum nam iste modi
      ducimus, inventore et deserunt consectetur temporibus aliquid, autem
      ratione.
    </p>
    <p class="card-text ms-3">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </article>

  <article class="card col-lg-3 mt-5 mb-5 border-0 noticia">
    <img class="card-img-top" src="../../../assets/stock2.jpeg" alt="" />
    <h2 class="card-title p-2">Título de la noticia</h2>
    <p class="card-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius soluta quia
      vitae nostrum impedit perferendis repudiandae ipsa illum nam iste modi
      ducimus, inventore et deserunt consectetur temporibus aliquid, autem
      ratione.
    </p>
    <p class="card-text ms-3">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </article>

  <article class="card col-lg-3 mt-5 mb-5 border-0 noticia">
    <img class="card-img-top" src="../../../assets/stock3.jpeg" alt="" />
    <h2 class="card-title p-2">Título de la noticia</h2>
    <p class="card-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius soluta quia
      vitae nostrum impedit perferendis repudiandae ipsa illum nam iste modi
      ducimus, inventore et deserunt consectetur temporibus aliquid, autem
      ratione.
    </p>
    <p class="card-text ms-3">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </article>
</section>
