<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Opre Jireh</title>
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="stylesheet" href="/css/eventos.css">
        <link rel="stylesheet" href="/css/bootstrap.css"
        <link 
        href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
        rel="stylesheet"  type='text/css'>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<style>
@font-face {
    font-family: Alice-Regular;
  
    src: url(./assets/fonts/Alice-Regular.ttf) format("opentype") ;
  }
  @font-face {
    font-family: JosefinSans;
   
    src: url(./assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf) format("opentype");
  
  }
   @font-face {
    font-family:OpenDyslexic;
   
    src: url(./assets/fonts/OpenDyslexic-Regular.otf) format("opentype");
  
  }
  *{
    
    
      margin: 0;
  }
  
  h1,h2,h3{
    font-family:'JosefinSans' ;
  
  }
  p,a,label,input{
    font-family:'Alice-Regular' ;
  } 
  </style>
   </head>
    <body>
        {% block layout %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
