{% extends "base.html.twig" %}
{% block layout %}
    <div class="body-bg wrap">
 
</div>
<header class="jumbotron jumbotron-fluid mb-5">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm fixed-top">
          <div class="container-fluid justify-content-end">
              <ul class="nav">                  
                <li class="nav-item mt-3">
                  <a style="text-decoration: none; color: #e10000; background: rgb(218, 218, 218); border-radius: 20px; padding: 0.5em; margin: 2em; font-size: 1.2em" href="{{ path('app_main')}}">
                    Home
                  </a>
                </li>                  
              </ul>
          </div>
        </nav>

        <img src="../../../assets/Opre Jireh logo.svg" alt="Logo de la asociación Opre Jireh" class="img-fluid logo">
        <h2 class="text-white fs-1 ms-lg-5">Asociación Gitana de catarroja</h2>
    </div>
</header>
     {% block content %}{% endblock %}


<footer class="container-fluid">
<div class="row">
<div class="text-center p-4 col-12 " style="background-color: rgba(30, 29, 29, 0.05);">
    <p>© 2023 Copyright - Opre Jireh
      
    </p>
  </div>
</div>
  

</footer>
{% endblock %}