{% extends "base.html.twig" %}
{% block layout %}
    <div class="body-bg wrap">
 
</div>
<header class="jumbotron jumbotron-fluid mb-5">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="nav nav-pills">
                        
                            <li class="nav-item">
                              <a href="{{ path('app_main')}}">
                                Home
                              </a>
                            </li>
                            <li>
                                <a href="{{ path('app_User')}}">
                                  PANEL
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_events')}}">
                                  Events
                                </a>
                            </li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <img src="../../../assets/Opre Jireh logo.svg" alt="Logo de la asociación Opre Jireh" class="img-fluid logo">
        <h2 class="text-white fs-1 ms-lg-5">Asociación Gitana de catarroja</h2>
    </div>
</header>
     {% block content %}{% endblock %}


<footer>
  <div class="text-center p-4" style="background-color: rgba(30, 29, 29, 0.05);">
    <p>© 2023 Copyright - Opre Jireh
      
    </p>
  </div>

</footer>
{% endblock %}