{% extends "layout.html.twig" %}
{% block content %}
    <section class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-lg-4 row justify-content-around">
        <article class="card articulos col-lg-10 mt-3 mb-3 p-0 border-0 text-center"> 
            <img src="./assets/users.jpg" class="card-img" alt="imagen de stock">
            <div class="card-img-overlay">
                <h2 class="card-title fs-1"><a href="{{ path('app_User')}}">Usuarios</a></h2>
            </div>
        </article>
    </div>

    <div class="col-lg-4 row justify-content-around">
        <article class="card articulos col-lg-10 mt-3 mb-3 p-0 border-0 text-center"> 
            <img src="./assets/eventos.jpg" class="card-img" alt="imagen de stock">
            <div class="card-img-overlay">
                <h2 class="card-title fs-1"><a href="{{ path('app_events')}}">Eventos</a></h2>
            </div>
        </article>
    </div>

        <div class="col-lg-4 row justify-content-around">
        <article class="card articulos col-lg-10 mt-3 mb-3 p-0 border-0 text-center"> 
            <img src="./assets/productos.jpg" class="card-img" alt="imagen de stock">
            <div class="card-img-overlay">
                <h2 class="card-title fs-1"><a href="{{ path('app_products')}}">Productos</a></h2>
            </div>
        </article>
    </div>


 
</section>
{% endblock %}