{% extends "layout.html.twig" %}
{% block content %}
    <section class="container-fluid">
  <div class="row ">
    <div class="col-6 justify-content-center mt-5 ">
      <article class="mt-5 mb-5">
        <h1 class="fs-1">Asociación Gitana de Catarroja</h1>
        <div class="separador"></div>
        <p class="fs-3 mt-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur neque
          quis rerum quasi beatae praesentium dignissimos dicta sapiente alias
          labore tempora, mollitia, nihil et optio eveniet at qui suscipit
          consequuntur!
        </p>
      </article>
    </div>

    <div class="col-4 mt-5  ">
      <article class="mt-5 mb-5">
        <h1 class="fs-1">Quiero formar parte</h1>
        <div class="separador"></div>
        <p class="fs-3 mt-3">
          Si quieres formar parte de la Asociación gitana de catarroja Opre
          Jireh haz click en este enlace y rellena el formulario.
        </p>
      </article>
    </div>
   
    <div class="col-1 ">
      <img
        class="ruedaCorta"
        src="../../../assets/ruedaGitanaCortada.svg"
        alt="rueda gitana de decoración."
      />
    </div>
  </div>
 
</section>


{% endblock %}