{% extends "layout.html.twig" %}
{% block content %}
    <section class="container-fluid">
  <div class="row justify-content-around">
    <article class="card articulos col-lg-4 mt-3 mb-3 p-0 border-0 text-center"> 
        <img src="./assets/users.jpg" class="card-img" alt="imagen de stock">
        <div class="card-img-overlay">
            <h2 class="card-title"><a href="">Usuarios</a></h2>
        </div>
    </article>

    <article class="card articulos col-lg-4 mt-3 mb-3 p-0 border-0 text-center"> 
        <img src="./assets/users.jpg" class="card-img" alt="imagen de stock">
        <div class="card-img-overlay">
            <h2 class="card-title"><a href="">Usuarios</a></h2>
        </div>
    </article>

    <article class="card articulos col-lg-4 mt-3 mb-3 p-0 border-0 text-center"> 
        <img src="./assets/users.jpg" class="card-img" alt="imagen de stock">
        <div class="card-img-overlay">
            <h2 class="card-title"><a href="">Usuarios</a></h2>
        </div>
    </article>

    <article class="card articulos col-lg-4 mt-3 mb-3 p-0 border-0 text-center"> 
        <img src="./assets/users.jpg" class="card-img" alt="imagen de stock">
        <div class="card-img-overlay">
            <h2 class="card-title"><a href="">Usuarios</a></h2>
        </div>
    </article>
  </div>
 
</section>
{% endblock %}