{% extends "layout.html.twig" %}
{% block content %}
    <section class="container-fluid">
  <div class="row ">
    <div class="col-lg-4 justify-content-center mb-5 mt-5 ">
        <div class="card events text-center rounded-7">
            <a>USER</a>
        </div>
     </div>
     <div class="col-lg-4 justify-content-center mb-5 mt-5 ">
        <div class="card users text-center rounded-7">
            <a>NOTICIAS</a>
        </div>
     </div>
     <div class="col-lg-4 justify-content-center mb-5 mt-5 ">
        <div class="card users text-center  rounded-7">
            <a>EVENTS</a>
        </div>
     </div>
     <div class="col-lg-4 justify-content-center mb-5 mt-5 ">
        <div class="card users text-center  rounded-7">
            <a>FILES</a>
        </div>
     </div>
     <div class="col-lg-4 justify-content-center mb-5 mt-5 rounded-15">
        <div class="card users text-center  rounded-7">
            <a>PRODUCTS</a>
        </div>
     </div>
     <div class="col-lg-4 justify-content-center mb-5 mt-5 rounded-15">
        <div class="card users text-center  rounded-7">
            <a>CATEGORIAS</a>
        </div>
     </div>
  </div>
 
</section>
{% endblock %}