{% extends "layout.html.twig" %}
{% block content %}
    <section class="container-fluid">
  <div class="row ">
    <div class="col-lg-5 justify-content-center mt-5 ">
        <div class="card events text-center">
            <h1>EVENTS</h1>
        </div>
     </div>
     <div class="col-lg-5 justify-content-center mt-5 ">
        <div class="card users text-center">
            <h1>USER</h1>
        </div>
     </div>
  </div>
 
</section>
{% endblock %}