@font-face {
    font-family: 'Josefin Sans';
    src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
  }
*{
    margin: 0;
}


/*Header*/
header, header::before{
    height: 36em;
}

header::before{
    content: '';
    position: absolute;
    width: 100%;
    background: url("../../../assets/hoguera.jpeg");
    background-size: cover;
    background-position: bottom;
    filter: blur(2px);
    z-index: -10;
}
.logo{
    width: 40%;
    margin-top: 7%;
}

h2{
    margin-top: -2%;
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: rgb(218, 218, 218) !important;
    color: black;
    border-radius: 20px;
}

.events{
    background-image: url("../assets/users.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
    transition: all 1s ease;
    cursor: pointer;
}

.events:hover{
    transform: scale(110%);
}

.users{
    background-image: url("assets/");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em; 
}
/*home*/
.separador{
    background-color:  #e10000;
    width: 100%;
    height: 3px;
}

.rueda{
    width: 400px;
}

.card-img-top{
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.noticia{
    background: linear-gradient(220.55deg, #97E8B5 0%, #5CB67F 100%);
    padding: 0;
}
.ruedaCorta{
position: absolute;
width: 15em;

}
 /* footer */
 a{
    text-decoration:none;
    font-size: 25px;
    color: black;
}

a:hover {
    
    color: #e10000;
}
p{
    font-size: 26px;
}
iframe{
    margin-top: 20px;
}
.col-xl-4{
    margin-right:50px ;
    margin-left:20px ;
}
h1{
  font-size: 2em;  
}
footer{
    color: black;
    background-color: #80a5d6;
}

/* articulos */

.articulo{
    transition: all 1s ease;
}

.articulo:hover{
    transform: scale(110%);
}

.articulo a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.articulo h2{
    position: relative;
    top: 50%;
}

.articulo a:hover{
    color: #e10000;
}

.articulo .card-img{
    object-fit: cover;
    height: 300px;
    filter: blur(2px);
}

/* login form */

.loginForm{
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}