@font-face {
    font-family: Alice-Regular;
  
    src: url(./assets/fonts/Alice-Regular.ttf) format("opentype") ;
  }
  @font-face {
    font-family: JosefinSans;
   
    src: url(./assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf) format("opentype");
  
  }
   @font-face {
    font-family:OpenDyslexic;
   
    src: url(./assets/fonts/OpenDyslexic-Regular.otf) format("opentype");
  
  }
  *{
    
    
      margin: 0;
  }
  
  h1,h2,h3{
    font-family:'JosefinSans' ;
  
  }
  p,a,label{
    font-family:'Alice-Regular' ;
  } 

.eventList {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    
}

.greenDot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: greenyellow;
    box-shadow: 0 0 5px 5px rgba(173, 255, 47, 0.35);
}

.yellowDot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0 0 5px 5px rgb(255, 255, 0, 0.35);
}

.redDot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 0 0 5px 5px rgb(255, 0, 0,  0.25);
}