<div class="card text-center mt-5" id="opacity">
    <div class="card-body">
        <img src={{foto}}>
        <h3 class="card-title mt-3">{{titulo}}</h3>
        <p class="card-text">{{descripcion}}</p>
        

        <div class="collapse navbar-collapse mt-2" id="detalles">
            <div>
                <p class="card-text">
                    <strong>LUGAR</strong>: {{lugar}}
                    <br>
                    <strong>HORARIO</strong>: {{horario}}
                </p>        
                <button class="btn btn-primary">Apuntarse</button>
            </div>
        </div>


    </div>
</div>