.card-body img {
    width: 100%;
    height: 15em;
    object-fit: cover;
    object-position: center;
}

.noticia {
    background-image: linear-gradient(135deg, #ffd3a5c5 10%, #fd6586c9 100%);
    border-radius: 3%;
    padding: 1em;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    font-weight: bold;
    height: 3.5em;
}

button:hover {
    background-color: #f01000;
    color: white
}


summary {
    list-style: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 127, 127, 0.445);
}


@media (max-width: 2560px) {
    .arrow {
        align-self: flex-end;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
    }

    .bounce:hover {
        animation-name: bounce;
        animation-timing-function: ease;
    }

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }
}

@media (max-width: 1199px) {

    @keyframes bounce {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(0);
        }
    }
}